blockquote  {
    font-size:3em;
    font-style: italic;
    text-align: center;
    color:dimgrey;
    width: 60%;
}
#images {
    margin:0 auto;
    width:60%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.left-images {
    width:38%;
    padding-right: 2vw;
}
.right-images {
    width:32%;
    padding-left: 2vw;
}
#presentation   {
    width:60%;
    margin: 0 auto;
    padding: 1em 0;
    color: dimgray;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
ul  {
    list-style-type: '- ';
    color:#666;
    padding:0 1.5em;
    margin:1em;
    
}
li  {
    padding:0 1.5em;
    margin:1em;
}